.footer{
  background-image: url("images/flatiron.png");
  background-size: cover;
}
a{
  color: white;
}

.flatiron{
  background-image: url("images/flatiron.png");
  background-size: cover;
  padding: 10px;
}

h5{
  background-image: url("images/flatiron.png");
  background-size: cover;
  padding: 3px;
}

.Process{

}

.wrapper{
  text-align: center;
}

body{
  width: 75%;
        margin-left: auto;
        margin-right: auto;
}
h6{
  color: white;
}
